<launch>
    <arg name="decay"/>
    <arg name="area_id"/>
    <arg name="robot_id"/>

    <group if="$(eval decay == 'uniform')">
        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="1"/>
            <arg name="decay_rate" value="0.001"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="2"/>
            <arg name="decay_rate" value="0.001"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="3"/>
            <arg name="decay_rate" value="0.001"/>
        </include>
    </group>

    <group if="$(eval decay == 'non_uniform')">
        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="1"/>
            <arg name="decay_rate" value="0.00124"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="2"/>
            <arg name="decay_rate" value="0.00168"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="3"/>
            <arg name="decay_rate" value="0.00224"/>
        </include>
    </group>


</launch>