<launch>
    <arg name="decay"/>
    <arg name="area_id"/>
    <arg name="robot_id"/>

    <group if="$(eval decay == 'non_uniform')">
        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="1"/>
            <arg name="decay_rate" value="0.00116"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="2"/>
            <arg name="decay_rate" value="0.00118"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="3"/>
            <arg name="decay_rate" value="0.00121"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="4"/>
            <arg name="decay_rate" value="0.00105"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="5"/>
            <arg name="decay_rate" value="0.00114"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="6"/>
            <arg name="decay_rate" value="0.00113"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="7"/>
            <arg name="decay_rate" value="0.00109"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="8"/>
            <arg name="decay_rate" value="0.00165"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="9"/>
            <arg name="decay_rate" value="0.00156"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="10"/>
            <arg name="decay_rate" value="0.00154"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="11"/>
            <arg name="decay_rate" value="0.00170"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="12"/>
            <arg name="decay_rate" value="0.00159"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="13"/>
            <arg name="decay_rate" value="0.00168"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="14"/>
            <arg name="decay_rate" value="0.00157"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="15"/>
            <arg name="decay_rate" value="0.00223"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="16"/>
            <arg name="decay_rate" value="0.00200"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="17"/>
            <arg name="decay_rate" value="0.00209"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="18"/>
            <arg name="decay_rate" value="0.00224"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="19"/>
            <arg name="decay_rate" value="0.00216"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="20"/>
            <arg name="decay_rate" value="0.00200"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="21"/>
            <arg name="decay_rate" value="0.00200"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="22"/>
            <arg name="decay_rate" value="0.00200"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="23"/>
            <arg name="decay_rate" value="0.00200"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="24"/>
            <arg name="decay_rate" value="0.00200"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="25"/>
            <arg name="decay_rate" value="0.00200"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="26"/>
            <arg name="decay_rate" value="0.00200"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="27"/>
            <arg name="decay_rate" value="0.00200"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="28"/>
            <arg name="decay_rate" value="0.00200"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="29"/>
            <arg name="decay_rate" value="0.00200"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="30"/>
            <arg name="decay_rate" value="0.00200"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="31"/>
            <arg name="decay_rate" value="0.00200"/>
            <arg name="decay_evolution" value="[]"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="32"/>
            <arg name="decay_rate" value="0.00200"/>
            <arg name="decay_evolution" value="[]"/>
        </include>
    </group>
</launch>