<launch>
    <arg name="decay"/>
    <arg name="area_id"/>
    <arg name="robot_id"/>

    <group if="$(eval decay == 'non_uniform')">
        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="1"/>
            <arg name="decay_rate" value="0.00116"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="2"/>
            <arg name="decay_rate" value="0.00118"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="3"/>
            <arg name="decay_rate" value="0.00121"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="4"/>
            <arg name="decay_rate" value="0.00105"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="5"/>
            <arg name="decay_rate" value="0.00114"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="6"/>
            <arg name="decay_rate" value="0.00113"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="7"/>
            <arg name="decay_rate" value="0.00109"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="8"/>
            <arg name="decay_rate" value="0.00165"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="9"/>
            <arg name="decay_rate" value="0.00156"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="10"/>
            <arg name="decay_rate" value="0.00154"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="11"/>
            <arg name="decay_rate" value="0.00170"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="12"/>
            <arg name="decay_rate" value="0.00159"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="13"/>
            <arg name="decay_rate" value="0.00168"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="14"/>
            <arg name="decay_rate" value="0.00157"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="15"/>
            <arg name="decay_rate" value="0.00223"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="16"/>
            <arg name="decay_rate" value="0.00200"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="17"/>
            <arg name="decay_rate" value="0.00209"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="18"/>
            <arg name="decay_rate" value="0.00224"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="19"/>
            <arg name="decay_rate" value="0.00216"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="20"/>
            <arg name="decay_rate" value="0.00200"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="21"/>
            <arg name="decay_rate" value="0.00116"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="22"/>
            <arg name="decay_rate" value="0.00118"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="23"/>
            <arg name="decay_rate" value="0.00121"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="24"/>
            <arg name="decay_rate" value="0.00105"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="25"/>
            <arg name="decay_rate" value="0.00114"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="26"/>
            <arg name="decay_rate" value="0.00113"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="27"/>
            <arg name="decay_rate" value="0.00109"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="28"/>
            <arg name="decay_rate" value="0.00165"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="29"/>
            <arg name="decay_rate" value="0.00156"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="30"/>
            <arg name="decay_rate" value="0.00154"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="31"/>
            <arg name="decay_rate" value="0.00170"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="32"/>
            <arg name="decay_rate" value="0.00159"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="33"/>
            <arg name="decay_rate" value="0.00168"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="34"/>
            <arg name="decay_rate" value="0.00157"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="35"/>
            <arg name="decay_rate" value="0.00223"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="36"/>
            <arg name="decay_rate" value="0.00200"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="37"/>
            <arg name="decay_rate" value="0.00209"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="38"/>
            <arg name="decay_rate" value="0.00224"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="39"/>
            <arg name="decay_rate" value="0.00216"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="40"/>
            <arg name="decay_rate" value="0.00200"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="41"/>
            <arg name="decay_rate" value="0.00116"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="42"/>
            <arg name="decay_rate" value="0.00118"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="43"/>
            <arg name="decay_rate" value="0.00121"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="44"/>
            <arg name="decay_rate" value="0.00105"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="45"/>
            <arg name="decay_rate" value="0.00114"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="46"/>
            <arg name="decay_rate" value="0.00113"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="47"/>
            <arg name="decay_rate" value="0.00109"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="48"/>
            <arg name="decay_rate" value="0.00165"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="49"/>
            <arg name="decay_rate" value="0.00156"/>
        </include>

        <include file="$(find int_preservation)/launch/areas/area.launch">
            <arg name="robot_id" value="0"/>
            <arg name="area_id" value="50"/>
            <arg name="decay_rate" value="0.00154"/>
        </include>

    </group>


</launch>