<launch>
    <arg name="world"/>
    <arg name="method"/>
    <group ns="robot_0">
        <group if="$(eval world == 'office')">
            <include file="$(find int_preservation)/launch/robots/nodes.launch">
                <arg name="robot" value="1"/>
                <arg name="method" value="$(arg method)"/>
                <arg name="initial_pose_x" value="-25.0"/>
                <arg name="initial_pose_y" value="-23.0"/>
            </include>
        </group>

        <group if="$(eval world == 'open')">
            <include file="$(find int_preservation)/launch/robots/nodes.launch">
                <arg name="robot" value="1"/>
                <arg name="method" value="$(arg method)"/>
                <arg name="initial_pose_x" value="0.0"/>
                <arg name="initial_pose_y" value="0.0"/>
            </include>
        </group>

        <group if="$(eval world == 'cluttered')">
            <include file="$(find int_preservation)/launch/robots/nodes.launch">
                <arg name="robot" value="1"/>
                <arg name="method" value="$(arg method)"/>
                <arg name="initial_pose_x" value="2.0"/>
                <arg name="initial_pose_y" value="0.0"/>
            </include>
        </group>
    </group>

    <group ns="robot_1">
        <group if="$(eval world == 'office')">
            <include file="$(find int_preservation)/launch/robots/nodes.launch">
                <arg name="robot" value="2"/>
                <arg name="method" value="$(arg method)"/>
                <arg name="initial_pose_x" value="-5.0"/>
                <arg name="initial_pose_y" value="-5.0"/>
            </include>
        </group>

        <group if="$(eval world == 'open')">
            <include file="$(find int_preservation)/launch/robots/nodes.launch">
                <arg name="robot" value="2"/>
                <arg name="method" value="$(arg method)"/>
                <arg name="initial_pose_x" value="0.0"/>
                <arg name="initial_pose_y" value="0.0"/>
            </include>
        </group>

        <group if="$(eval world == 'cluttered')">
            <include file="$(find int_preservation)/launch/robots/nodes.launch">
                <arg name="robot" value="2"/>
                <arg name="method" value="$(arg method)"/>
                <arg name="initial_pose_x" value="2.0"/>
                <arg name="initial_pose_y" value="0.0"/>
            </include>
        </group>
    </group>

</launch>