<launch>
    <arg name="world" default="office"/>
    <arg name="method"/>
    <group ns="robot_0">
        <include file="$(find int_preservation)/launch/robots/nodes.launch">
            <arg name="robot" value="1"/>
            <arg name="method" value="$(arg method)"/>
            <arg name="initial_pose_x" value="-19"/> <!-- TODO for each environment should be different, perhaps loading in yaml file -->
            <arg name="initial_pose_y" value="-17.5"/>
        </include>
    </group>

    <group ns="robot_1">
        <include file="$(find int_preservation)/launch/robots/nodes.launch">
            <arg name="robot" value="2"/>
            <arg name="method" value="$(arg method)"/>
            <arg name="initial_pose_x" value="-50"/>
            <arg name="initial_pose_y" value="-50"/>
        </include>
    </group>

</launch>