<launch>
    <arg name="world" default="office"/>
    <arg name="method" default="treebased_decision"/>
    <arg name="nrobots" default="2"/>
    <arg name="nareas" default="3"/>
    <arg name="decay" default="non_uniform"/>
    <arg name="learndecay" default="None"/>
    <arg name="dsteps" default="1"/>
    <arg name="tframe" default="50"/>
    <arg name="placement" default="1"/>
    <arg name="fileposes" default="1"/>
    <arg name="fileresult" default="1"/>
    <arg name="save" default="False"/>

    <param name="/use_sim_time" value="true" />
    <rosparam command="load" file="$(find int_preservation)/param/mission.yaml" subst_value="true"/>

    <node name="Stage" pkg="stage_ros" type="stageros" args="$(find int_preservation)/world/$(arg world)$(arg nrobots).world">
        <param name="base_watchdog_timeout" value="0" />
    </node>

    <node name="map_server" pkg="map_server" type="map_server" args="$(find int_preservation)/param/$(arg world)_map.yaml">
        <param name="frame_id" value="map" />
    </node>

    <include file="$(find int_preservation)/launch/robots/robot_sim$(arg nrobots).launch">
        <arg name="method" value="$(arg method)"/>
        <arg name="world" value="$(arg world)"/>
    </include>

    <include file="$(find int_preservation)/launch/areas/area_sim$(arg nareas).launch">
        <arg name="decay" value="$(arg decay)"/>
    </include>

    <!-- RVIZ to view the visualization -->
    <node name="RVIZ" pkg="rviz" type="rviz" args=" -d $(find int_preservation)/param/mission.rviz" output="screen" />

</launch>