<launch>
<arg name="task_scheduler"/>
<arg name="crisis_mitigation"/>
<arg name="robot_prefix" value="$(arg task_scheduler)"/>
<param name="tf_prefix" type="string" value="$(arg task_scheduler)"/>

<group unless="$(eval task_scheduler == 'None')">
    <node name="task_scheduler" pkg="int_preservation" type="$(arg task_scheduler).py">
    </node>
</group>
</launch>

<!--
    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
        <remap from="map" to="/map" />
        <param name="controller_frequency" value="10.0" />
        <rosparam file="$(find int_preservation)/move_base_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find int_preservation)/move_base_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find int_preservation)/move_base_config/local_costmap_params.yaml" command="load" subst_value="true"/>
        <rosparam file="$(find int_preservation)/move_base_config/global_costmap_params.yaml" command="load" subst_value="true"/>
        <rosparam file="$(find int_preservation)/move_base_config/base_local_planner_params.yaml" command="load" />
    </node>
</group>

</launch>
-->